/* Variable text in menu */

.short-text { 
    display: none; 
}

@media (max-width: 1010px) {
	.short-text { 
        display: inline-block; 
    }
    .full-text { 
        display: none; 
    }
}

header .nav-container.primary ul .dropdown-menu {
    background-color: #FFF;
}

/* Hover styling for menu */

.navbar-default .nav-container.primary .main-nav .dropdown a.dropdown-toggle:hover {
    color: #de3518;
}

.navbar-default .nav-container.primary .main-nav .dropdown a.dropdown-toggle:focus {
    color: #de3518;
}

/* Dropdown Menu */

header .nav-container ul .dropdown-menu {
    border-top-width: 0;
    padding: 65px 0;
}

.navbar-default .nav-container.primary .main-nav .dropdown .dropdown-menu li {
    padding-top: 0;
}

.navbar-default .nav-container.primary .main-nav .dropdown .dropdown-menu li a {
    font-size: 16px;
    color: #3C2320!important;
    line-height: 24px;
}

header .nav-container ul .dropdown-menu ul li {
    padding: 0;
}

/* Tab buttons in first tab */

.dropdown-menu > .row.gridbase {
    margin-left: 0!important;
    max-width: 2000px;
}

.tab_button {
    width: 300px;
    display: block;
    border: none;
    height: 90px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FFF;
    background-size: cover;
    color: #3C2320;
    font-weight: 900;
    font-size: 16px;
    align-content: flex-start;
    display: flex;
}

.tab_button_selected {
    width: 300px;
    display: block;
    border: none;
    height: 90px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f6f4f1;
    background-size: cover;
    color: #3C2320;
    font-weight: 900;
    font-size: 16px;
}

.navbar-default .dropdown-menu button {
    margin-left: 0;
    margin-top: 0;
    max-width: 300px;
}

.right_arrow {
    margin-bottom: 4px;
    padding-left: 24px;
}

@media (max-width: 975px) {
.right_arrow {
    margin-bottom: 4px;
    }
}

/* Mega Nav Tablet Responsiveness */

.tablet_column {
    display: none;
}

.desktop_column {
    display: block;
}

@media (max-width: 975px) {
.tablet_column {
    display: block;
}
    
.desktop_column {
    display: none;
    }
.tablet_none {
    display: none;
    }
.col-sm-3 {
      width: 33%;  
    }
}